    <div class="container i-can-help">
      <img src="/img/elipsis-break.svg" />
      <h1>I can help</h1>
      <p>I'm currently available for freelance work.</p>
      <p>If you have a project that you think I might be able to help with, then <a href="/contact">get in touch.</a></p>
    </div>

    <footer class="site-footer">
      <ul class="site-footer__icon-links">
        <li><a href="https://twitter.com/jonnykates"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/jonnykates/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/jonnykates"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://codepen.io/jonnykates/"><i class="fa fa-codepen" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jonnykates/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://soundcloud.com/jonny-kates"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
        <li><a href="https://www.last.fm/user/jkates87"><i class="fa fa-lastfm" aria-hidden="true"></i></a></li>
      </ul>
      <p class="site-footer__copyright">&copy;2017 Jonny Kates. All rights reserved</p>
    </footer>

    {{ template "_internal/google_analytics.html" . }}
    <script src="/js/prism.js"></script>
  </body>
</html>