<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <script src="https://use.fontawesome.com/2df9ed4a86.js"></script>
    <script src="https://use.typekit.net/rdm8ndl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prism.css">
    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
  </head>

  <body>

  <div class="container header">
    <div class="home-link">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
    </div>
  <ul class="main-navigation">
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>